<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Listagem de pessoas utilizando o Spring Boot</title>
</head>
 
<body>
  <h1>Lista de pessoas</h1>
  <form action="#" method="post" th:action="@{/pessoas}" th:object="${pessoa}">
  
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>email</th>
        <th>telefone</th>
        <th>editar</th>
        <th>excluir</th>
        
    </thead>
    <tbody>
      <tr th:each="pessoa: ${pessoas}">  
        <td th:text="${pessoa.nome}"></td>
        <td th:text="${pessoa.cpf}"></td>
        <td th:text="${pessoa.email}"></td>
        <td th:text="${pessoa.telefone}"></td>
        <td> <button th:value="'editar|'  + ${pessoa.id} + '|'  + ${pessoa.cpf} + '|' + ${pessoa.nome} + '|' + ${pessoa.email} + '|' + ${pessoa.telefone}" name="action" type="submit">Editar</button></td>
        <td> <button th:value="'excluir|' + ${pessoa.cpf}" name="action" type="submit">Excluir</button></td>
      </tr>
    </tbody>
  </table>
  <table>
			<tr>
				<td>Nome</td>
				<td> 
					<input type="text" th:field="*{nome}" /> 
				</td>
			</tr>
			<tr>
				<td>CPF</td>
				<td> 
					<input type="text" th:field="*{cpf}" />
				</td>
			</tr>
			<tr>
			<tr>
				<td>Email</td>
				<td> 
					<input type="text" th:field="*{email}" /> 
				</td>
			</tr>
			<tr>
				<td>Telefone</td>
				<td> 
					<input type="text" th:field="*{telefone}" />
				</td>
			</tr>
			
			<tr>
				<td>
					<button type="submit" >Salvar</button>
				</td>
			</tr>
			
		</table>
  </form>
</body>
</html>